.img-resize {
    width: 10em;
  }
  
  .style {
    font-size: 20px;
  }
  
  .jumbo-style {
    background-image: linear-gradient(to bottom, #ada996, #f2f2f2, #dbdbdb, #eaeaea);;
  }
  
  .body-title-style {
    font-size: 25px;
    font-weight: 800;
  }